
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>link_modelli</title>
</head>
<body>
    <div>
        @Html.ActionLink("Anakartlar", "urun_modelli_getir", new { kate_id = 1 })
        <br />
        @Html.ActionLink("Ramlarr", "urun_modelli_getir", new { kate_id = 2 })
    </div>
</body>
</html>
