
@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>link_ornek</title>
</head>
<body>
    <div>
        @Html.ActionLink("urunlerimiz-->Anakartlar", "urungoster", new { id = 1 }, new { @class = "btn btn-danger" })<br />
        <a href="@Url.Action("urungoster",new {id=2})" class="btn btn-danger">urunlerimiz->ramlar</a>
    </div>
</body>
</html>
